
header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);

}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  font-size:40px;
  display: flex;
  align-items: center;
  color: aqua;
  background-color: grey;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

nav {
  margin: 30px;
  background-color: black;
  color: rgba(53, 209, 209, 0.699);
  text-underline-offset: 5px;
}

nav a:hover {
  background-size: 100% 100%;
  background-color: rgb(218, 201, 201);
}
 


/* img {
  width: 1600px;
  height: 230px;
} */

.left-border {
  border-bottom: solid black 3px;
  
}

.boxs {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
#about {
  padding-left:100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
}

/* .work {
  display: flex;
  justify-content: center;
  
} */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero\ banner.jpeg");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  display: flex;
    justify-content: end;
    position: absolute;
    top: 75%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: #251818;
    background-color: #57bebe;
    font-weight: bold;
}


.flex-container {
  display: flex;
  
  justify-content: center; 
}

.flex-container img {
  border: solid green 3px;
  
  
  width: 450px;
  height: 200px;
}

/* .flex-item {
  display: block;
} */


/* .flex-item > img {
  height: 200px;
  
} */ 

.report > img {
  width: 900px;
  height: 400px;
  border: solid green 3px;
}


.footer-container {
  padding: 100px;
  
}



.footer-heading {
  display: flex;
  justify-content: space-evenly;
  
  margin: 30px;
  align-items: center;
  text-decoration:underline;
  color: rgba(53, 209, 209, 0.699);

}
.footer-heading a:hover {
  background-size: 100% 100%;
  background-color: rgb(218, 201, 201);
}

/* .aboutmepara {
  display: flex;
  border-right: solid black 3px;
} */
 
